/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.pub-at {
  font-style: italic;
}

.pub-authors {
  font-size: 120%;
}

.pub-where {
}

.pub-abstract {
}

img.pub-cover {
    width:20ex;
    margin-right:2ex;
}

.topleft {
    position: absolute;
    top: 0.5ex;
    left: 1ex;
}

.mute {
    color: #848482;
}
